.zoom {
  padding: 50px;
  transition: transform .2s;
  /* Animation */
  margin: 0 auto; }

.zoom:hover {
  transform: scale(1.25); }

.novedades {
  padding: 15px; }
  .novedades_title {
    font-size: 45px; }
  .novedades_description {
    font-size: 35px; }
  .novedades_price {
    font-weight: bold; }

.opacity {
  background-color: beige;
  border: 10px black;
  opacity: 0.5;
  color: black; }

body, html {
  height: 100%; }

.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
